# Cinema Chain GUI

In [127]:
import tkinter as tk
from tkinter import ttk, messagebox
import mysql.connector

# ---------------------------
# MySQL Connection
# ---------------------------
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="samsung@777",
    database="CINEMA_CHAIN"
)
mycursor = mydb.cursor()

# ---------------------------
# Main Window
# ---------------------------
root = tk.Tk()
root.title("Cinema Chain Management System")
root.geometry("1000x650")

# ---------------------------
# Tabs
# ---------------------------
tabControl = ttk.Notebook(root)

tab_add = ttk.Frame(tabControl)
tab_update = ttk.Frame(tabControl)
tab_delete = ttk.Frame(tabControl)
tab_queries = ttk.Frame(tabControl)

tabControl.add(tab_add, text='Add Record')
tabControl.add(tab_update, text='Update Record')
tabControl.add(tab_delete, text='Delete Record')
tabControl.add(tab_queries, text='Execute Queries')

tabControl.pack(expand=1, fill="both")

In [128]:
# ---------------------------
# TAB 1: ADD RECORD TAB
# ---------------------------
frame = ttk.Frame(tab_add, padding=10)
frame.pack(fill='both', expand=True)

# Labels and Entry Widgets

# ---------------------------
# CINEMA SECTION
# ---------------------------
ttk.Label(frame, text="Cinema Information", foreground="maroon", font=("Arial", 12, "bold")).grid(row=0, column=0, pady=(0,10), sticky="w")

ttk.Label(frame, text="Cinema Name").grid(row=1, column=0, sticky="w")
entry_cinema_name = ttk.Entry(frame)
entry_cinema_name.grid(row=1, column=1)

ttk.Label(frame, text="Cinema Address").grid(row=1, column=2, padx=(10,0), sticky="w")
entry_cinema_address = ttk.Entry(frame, width=35)
entry_cinema_address.grid(row=1, column=3)

# ---------------------------
# THEATER SECTION
# ---------------------------
ttk.Label(frame, text="Theater Information", foreground="maroon", font=("Arial", 12, "bold")).grid(row=2, column=0, pady=(20,10), sticky="w")

ttk.Label(frame, text="Theater Number").grid(row=3, column=0, sticky="w")
entry_theater_number = ttk.Entry(frame)
entry_theater_number.grid(row=3, column=1)

ttk.Label(frame, text="Seating Capacity").grid(row=3, column=2, padx=(10,0), sticky="w")
entry_seating_capacity = ttk.Entry(frame)
entry_seating_capacity.grid(row=3, column=3)

# ---------------------------
# MOVIE SECTION
# ---------------------------
ttk.Label(frame, text="Movie Information", foreground="maroon", font=("Arial", 12, "bold")).grid(row=4, column=0, pady=(20,10), sticky="w")

ttk.Label(frame, text="Movie Name").grid(row=5, column=0, sticky="w")
entry_movie_name = ttk.Entry(frame)
entry_movie_name.grid(row=5, column=1)

ttk.Label(frame, text="Director Name").grid(row=5, column=2, padx=(10,0), sticky="w")
entry_director_name = ttk.Entry(frame)
entry_director_name.grid(row=5, column=3)

ttk.Label(frame, text="Release Year").grid(row=5, column=4, sticky="w")
entry_release_year = ttk.Entry(frame)
entry_release_year.grid(row=5, column=5)

ttk.Label(frame, text="Time Slot (HH:MM:SS)").grid(row=6, column=0, sticky="w")
entry_time_slot = ttk.Entry(frame)
entry_time_slot.grid(row=6, column=1)

ttk.Label(frame, text="Movie Rating (1-5)").grid(row=6, column=2, padx=(10,0), sticky="w")
entry_movie_rating = ttk.Entry(frame)
entry_movie_rating.grid(row=6, column=3)

# ---------------------------
# PEOPLE SECTION
# ---------------------------
ttk.Label(frame, text="People Information", foreground="maroon", font=("Arial", 12, "bold")).grid(row=7, column=0, pady=(20,10), sticky="w")

ttk.Label(frame, text="Email").grid(row=8, column=0, sticky="w")
entry_email = ttk.Entry(frame)
entry_email.grid(row=8, column=1)

ttk.Label(frame, text="Birthdate (YYYY-MM-DD)").grid(row=8, column=2, padx=(10,0), sticky="w")
entry_bdate = ttk.Entry(frame)
entry_bdate.grid(row=8, column=3)

ttk.Label(frame, text="Age Group (adult/child)").grid(row=8, column=4, sticky="w")
entry_age_group = ttk.Entry(frame)
entry_age_group.grid(row=8, column=5)

ttk.Label(frame, text="Awards Member (Golden/Silver/None)").grid(row=9, column=0, sticky="w")
entry_awards_member = ttk.Entry(frame)
entry_awards_member.grid(row=9, column=1)

# ---------------------------
# TICKET SECTION
# ---------------------------
ttk.Label(frame, text="Ticket Information", foreground="maroon", font=("Arial", 12, "bold")).grid(row=10, column=0, pady=(20,10), sticky="w")

ttk.Label(frame, text="Ticket Price").grid(row=11, column=0, sticky="w")
entry_ticket_price = ttk.Entry(frame)
entry_ticket_price.grid(row=11, column=1)

# ---------------------------
# WATCHED SECTION
# ---------------------------
ttk.Label(frame, text="Watched Information", foreground="maroon", font=("Arial", 12, "bold")).grid(row=12, column=0, pady=(20,10), sticky="w")

ttk.Label(frame, text="Number of Movies Watched").grid(row=13, column=0, sticky="w")
entry_num_watched = ttk.Entry(frame)
entry_num_watched.grid(row=13, column=1)

In [129]:
# ---------------------------
# Add Record Function
# ---------------------------
def add_record():
    cinema_name = entry_cinema_name.get()
    cinema_address = entry_cinema_address.get()

    theater_number = entry_theater_number.get()
    seating_capacity = entry_seating_capacity.get()

    movie_name = entry_movie_name.get()
    director_name = entry_director_name.get()
    release_year = entry_release_year.get()
    time_slot = entry_time_slot.get()
    movie_rating = entry_movie_rating.get()

    email = entry_email.get()
    bdate = entry_bdate.get()
    age_group = entry_age_group.get()
    awards_member = entry_awards_member.get()

    ticket_price = entry_ticket_price.get()
    num_watched = entry_num_watched.get()

    try:
        # Insert into CINEMA
        mycursor.execute(
            "INSERT IGNORE INTO CINEMA (cinema_name, address) VALUES (%s, %s)",
            (cinema_name, cinema_address)
        )
        mydb.commit()
        # Get cinema_ID
        mycursor.execute("SELECT cinema_ID FROM CINEMA WHERE cinema_name=%s AND address=%s",
                         (cinema_name, cinema_address))
        cinema_id = mycursor.fetchone()[0]

        # THEATER
        mycursor.execute(
            "INSERT IGNORE INTO THEATER (theater_number, seating_capacity, cinema_ID) VALUES (%s, %s, %s)",
            (theater_number, seating_capacity, cinema_id)
        )

        # MOVIE
        mycursor.execute(
            "INSERT IGNORE INTO MOVIE (director_name, movie_name, time_slot, release_year, movie_rating, theater_num) "
            "VALUES (%s, %s, %s, %s, %s, %s)",
            (director_name, movie_name, time_slot, release_year, movie_rating, theater_number)
        )

        # PEOPLE
        mycursor.execute(
            "INSERT IGNORE INTO PEOPLE (bdate, age_group, awards_member, email) VALUES (%s, %s, %s, %s)",
            (bdate, age_group, awards_member, email)
        )

        # TICKET
        mycursor.execute(
            "INSERT INTO TICKET (ticket_price, movie_name, time_slot, email) VALUES (%s, %s, %s, %s)",
            (ticket_price, movie_name, time_slot, email)
        )
        mydb.commit()
        # Get ticket_price_index
        mycursor.execute("SELECT ticket_price_index FROM TICKET WHERE ticket_price=%s AND movie_name=%s AND time_slot=%s AND email=%s",
                         (ticket_price, movie_name, time_slot, email))
        ticket_price_index = mycursor.fetchone()[0]


        # WATCHED
        mycursor.execute(
            "INSERT IGNORE INTO WATCHED (mov_name, time_slot, email, num_watched) VALUES (%s, %s, %s, %s)",
            (movie_name, time_slot, email, num_watched)
        )

        mydb.commit()
        messagebox.showinfo("Success", "Record added successfully!")

        # Clear fields
        for entry in frame.winfo_children():
            if isinstance(entry, ttk.Entry):
                entry.delete(0, tk.END)

    except mysql.connector.Error as err:
        messagebox.showerror("Error", f"An Error Occurred: {err}")
        mydb.rollback()

# ---------------------------
# Add Record Button
# ---------------------------
btn_add = ttk.Button(frame, text="Add Record", command=add_record)
btn_add.grid(row=14, column=0, columnspan=6, pady=25)

In [130]:
# ---------------------------
# TAB 2: UPDATE RECORD TAB
# ---------------------------
frame_update = ttk.Frame(tab_update, padding=10)
frame_update.pack(fill='both', expand=True)

ttk.Label(frame_update, text="Update Record", foreground="maroon", font=("Arial", 12, "bold")).grid(row=0, column=0, pady=(0,10), sticky="w")

# Combobox for selecting subsection
ttk.Label(frame_update, text="Select Subsection").grid(row=1, column=0, sticky="w")
subsection_combo = ttk.Combobox(frame_update, values=["Cinema", "Theater", "Movie", "People", "Ticket", "Watched"])
subsection_combo.grid(row=1, column=1)
subsection_combo.current(0)  # default selection

# Frame to hold dynamic entry fields
fields_frame = ttk.Frame(frame_update)
fields_frame.grid(row=2, column=0, columnspan=6, pady=10, sticky="w")

def show_fields(event):
    for widget in fields_frame.winfo_children():
        widget.destroy()  # clear previous fields

    choice = subsection_combo.get()

    if choice == "Cinema":
        # Ask for the primary key: cinema_ID
        ttk.Label(fields_frame, text="Cinema ID (Primary Key)").grid(row=0, column=0, sticky="w")
        entry_cinema_id = ttk.Entry(fields_frame)
        entry_cinema_id.grid(row=0, column=1)

        # Fields for new values
        ttk.Label(fields_frame, text="New Cinema Name").grid(row=1, column=0, sticky="w")
        entry_update_cinema_name = ttk.Entry(fields_frame)
        entry_update_cinema_name.grid(row=1, column=1)

        ttk.Label(fields_frame, text="New Address").grid(row=1, column=2, sticky="w")
        entry_update_cinema_address = ttk.Entry(fields_frame)
        entry_update_cinema_address.grid(row=1, column=3)

        def update_cinema():
            cinema_id = entry_cinema_id.get()
            new_name = entry_update_cinema_name.get()
            new_address = entry_update_cinema_address.get()
            try:
                mycursor.execute(
                    "UPDATE CINEMA SET cinema_name=%s, address=%s WHERE cinema_ID=%s",
                    (new_name, new_address, cinema_id)
                )
                mydb.commit()
                messagebox.showinfo("Success", f"Cinema ID '{cinema_id}' updated successfully!")
            except mysql.connector.Error as err:
                messagebox.showerror("Error", f"An Error Occurred: {err}")
                mydb.rollback()

        ttk.Button(fields_frame, text="Update Cinema", command=update_cinema).grid(row=2, column=0, columnspan=4, pady=10)

    elif choice == "Movie":
        # Ask for primary key (movie_name + time_slot)
        ttk.Label(fields_frame, text="Movie Name (Primary Key)").grid(row=0, column=0, sticky="w")
        entry_movie_pk_name = ttk.Entry(fields_frame)
        entry_movie_pk_name.grid(row=0, column=1)

        ttk.Label(fields_frame, text="Time Slot (Primary Key)").grid(row=0, column=2, sticky="w")
        entry_movie_pk_time = ttk.Entry(fields_frame)
        entry_movie_pk_time.grid(row=0, column=3)

        # Fields for new values
        ttk.Label(fields_frame, text="New Director Name").grid(row=1, column=0, sticky="w")
        entry_new_director = ttk.Entry(fields_frame)
        entry_new_director.grid(row=1, column=1)

        ttk.Label(fields_frame, text="New Release Year").grid(row=1, column=2, sticky="w")
        entry_new_year = ttk.Entry(fields_frame)
        entry_new_year.grid(row=1, column=3)

        ttk.Label(fields_frame, text="New Movie Rating").grid(row=1, column=4, sticky="w")
        entry_new_rating = ttk.Entry(fields_frame)
        entry_new_rating.grid(row=1, column=5)

        ttk.Label(fields_frame, text="New Theater Number").grid(row=2, column=0, sticky="w")
        entry_new_theater = ttk.Entry(fields_frame)
        entry_new_theater.grid(row=2, column=1)

        def update_movie():
            movie_name_pk = entry_movie_pk_name.get()
            time_slot_pk = entry_movie_pk_time.get()
            new_director = entry_new_director.get()
            new_year = entry_new_year.get()
            new_rating = entry_new_rating.get()
            new_theater = entry_new_theater.get()
            try:
                mycursor.execute(
                    "UPDATE MOVIE SET director_name=%s, release_year=%s, movie_rating=%s, theater_num=%s WHERE movie_name=%s AND time_slot=%s",
                    (new_director, new_year, new_rating, new_theater, movie_name_pk, time_slot_pk)
                )
                mydb.commit()
                messagebox.showinfo("Success", f"Movie '{movie_name_pk}' updated successfully!")
            except mysql.connector.Error as err:
                messagebox.showerror("Error", f"An Error Occurred: {err}")
                mydb.rollback()

        ttk.Button(fields_frame, text="Update Movie", command=update_movie).grid(row=3, column=0, columnspan=6, pady=10)

    # Repeat similar blocks for Theater, People, Ticket, and Watched
    # Each should ask for the primary key(s) first, then show editable fields

subsection_combo.bind("<<ComboboxSelected>>", show_fields)
show_fields(None)  # initial call

In [131]:
# Empty placeholders for other tabs
# ttk.Label(tab_update, text="Update Record Page (to be implemented)").pack(pady=20)
ttk.Label(tab_delete, text="Delete Record Page (to be implemented)").pack(pady=20)
ttk.Label(tab_queries, text="Queries Page (to be implemented)").pack(pady=20)

In [132]:
# ---------------------------
# Run GUI
# ---------------------------
root.mainloop()