# Cinema Chain GUI

In [9]:
import tkinter as tk
from tkinter import ttk, messagebox
import mysql.connector

In [10]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="samsung@777",
    database="CINEMA_CHAIN"
)
mycursor = mydb.cursor()

In [11]:
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('cinema',)
('movie',)
('people',)
('theater',)
('ticket',)
('watched',)

In [12]:
# Create main window
root = tk.Tk()
root.title("Cinema Chain Management System")
root.geometry("900x600")

# Create Tabs
tabControl = ttk.Notebook(root)

tab_add = ttk.Frame(tabControl)
tab_update = ttk.Frame(tabControl)
tab_delete = ttk.Frame(tabControl)
tab_queries = ttk.Frame(tabControl)

tabControl.add(tab_add, text='Add Record')
tabControl.add(tab_update, text='Update Record')
tabControl.add(tab_delete, text='Delete Record')
tabControl.add(tab_queries, text='Execute Queries')
tabControl.pack(expand=1, fill="both")

In [13]:
# Example: Add Record Tab
tk.Label(tab_add, text="Table Name:").grid(row=0, column=0, padx=10, pady=10)
table_entry = ttk.Combobox(tab_add, values=["CINEMA","THEATER","MOVIE","PEOPLE","TICKET","WATCHED"])
table_entry.grid(row=0, column=1, padx=10, pady=10)

def add_record():
    table = table_entry.get()
    # Here you would dynamically build insert queries for each table
    messagebox.showinfo("Info", f"Add functionality for {table} goes here.")

tk.Button(tab_add, text="Add Record", command=add_record).grid(row=10, column=1, padx=10, pady=10)

root.mainloop()