# Cinema Chain GUI

In [8]:
# imports 
import tkinter as tk
from tkinter import ttk, messagebox
import mysql.connector
import datetime
from decimal import Decimal
from warnings import filterwarnings
filterwarnings('ignore')

# ----------------------------------------
# Function for data formatting for Queries
# ----------------------------------------
def format_db_row(row):
    # Converts timedelta and Decimal objects in a row tuple to formatted strings.
    formatted_row = []
    for item in row:
        if isinstance(item, datetime.timedelta):
            # Convert timedelta to HH:MM:SS string
            formatted_row.append(str(item))
        elif isinstance(item, Decimal):
            # Convert Decimal to a formatted string (with two decimal places)
            formatted_row.append(f"{item:.2f}")
        else:
            formatted_row.append(item)
    return tuple(formatted_row)

# ---------------------------
# MySQL Connection
# ---------------------------
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="samsung@777",
    database="CINEMA_CHAIN"
)
mycursor = mydb.cursor()

# ---------------------------
# Main Window
# ---------------------------
root = tk.Tk()
root.title("Cinema Chain Management System")
root.geometry("1000x650")

# ---------------------------
# Tab Creation
# ---------------------------
tabControl = ttk.Notebook(root)

tab_add = ttk.Frame(tabControl)
tab_update = ttk.Frame(tabControl)
tab_delete = ttk.Frame(tabControl)
tab_queries = ttk.Frame(tabControl)

tabControl.add(tab_add, text='Add Record')
tabControl.add(tab_update, text='Update Record')
tabControl.add(tab_delete, text='Delete Record')
tabControl.add(tab_queries, text='Execute Queries')

tabControl.pack(expand=1, fill="both")

In [9]:
# ---------------------------
# TAB 1: ADD RECORD TAB
# ---------------------------
frame = ttk.Frame(tab_add, padding=10)
frame.pack(fill='both', expand=True)

# --- Labels and Entry Widgets For Add Record Tab --- #

# -- CINEMA SECTION -- #
# Subheader
ttk.Label(frame, text="Cinema Information", foreground="maroon", font=("Arial", 12, "bold")).grid(row=0, column=0, pady=(0,10), sticky="w")

# Entry box
ttk.Label(frame, text="Cinema Name").grid(row=1, column=0, sticky="w")
entry_cinema_name = ttk.Entry(frame)
entry_cinema_name.grid(row=1, column=1)

ttk.Label(frame, text="Cinema Address").grid(row=1, column=2, padx=(10,0), sticky="w")
entry_cinema_address = ttk.Entry(frame, width=35)
entry_cinema_address.grid(row=1, column=3)

# -- THEATER SECTION -- #
# Subheader
ttk.Label(frame, text="Theater Information", foreground="maroon", font=("Arial", 12, "bold")).grid(row=2, column=0, pady=(20,10), sticky="w")

# Entry box
ttk.Label(frame, text="Theater Number").grid(row=3, column=0, sticky="w")
entry_theater_number = ttk.Entry(frame)
entry_theater_number.grid(row=3, column=1)
# Entry box
ttk.Label(frame, text="Seating Capacity").grid(row=3, column=2, padx=(10,0), sticky="w")
entry_seating_capacity = ttk.Entry(frame)
entry_seating_capacity.grid(row=3, column=3)

# -- MOVIE SECTION --  #
# subheader
ttk.Label(frame, text="Movie Information", foreground="maroon", font=("Arial", 12, "bold")).grid(row=4, column=0, pady=(20,10), sticky="w")

# Entry box
ttk.Label(frame, text="Movie Name").grid(row=5, column=0, sticky="w")
entry_movie_name = ttk.Entry(frame)
entry_movie_name.grid(row=5, column=1)
# Entry box
ttk.Label(frame, text="Director Name").grid(row=5, column=2, padx=(10,0), sticky="w")
entry_director_name = ttk.Entry(frame)
entry_director_name.grid(row=5, column=3)
# Entry box
ttk.Label(frame, text="Release Year").grid(row=5, column=4, sticky="w")
entry_release_year = ttk.Entry(frame)
entry_release_year.grid(row=5, column=5)
# Entry box
ttk.Label(frame, text="Time Slot (HH:MM:SS)").grid(row=6, column=0, sticky="w")
entry_time_slot = ttk.Entry(frame)
entry_time_slot.grid(row=6, column=1)
# Entry box
ttk.Label(frame, text="Movie Rating (1-5)").grid(row=6, column=2, padx=(10,0), sticky="w")
entry_movie_rating = ttk.Entry(frame)
entry_movie_rating.grid(row=6, column=3)

# -- PEOPLE SECTION -- #
# Subheader
ttk.Label(frame, text="People Information", foreground="maroon", font=("Arial", 12, "bold")).grid(row=7, column=0, pady=(20,10), sticky="w")

# Entry box
ttk.Label(frame, text="Email").grid(row=8, column=0, sticky="w")
entry_email = ttk.Entry(frame)
entry_email.grid(row=8, column=1)
# Entry box
ttk.Label(frame, text="Birthdate (YYYY-MM-DD)").grid(row=8, column=2, padx=(10,0), sticky="w")
entry_bdate = ttk.Entry(frame)
entry_bdate.grid(row=8, column=3)
# Entry box
ttk.Label(frame, text="Age Group (adult/child)").grid(row=8, column=4, sticky="w")
entry_age_group = ttk.Entry(frame)
entry_age_group.grid(row=8, column=5)
# Entry box
ttk.Label(frame, text="Awards Member (Golden/Silver/None)").grid(row=9, column=0, sticky="w")
entry_awards_member = ttk.Entry(frame)
entry_awards_member.grid(row=9, column=1)

# -- TICKET SECTION --  #
# subheader
ttk.Label(frame, text="Ticket Information", foreground="maroon", font=("Arial", 12, "bold")).grid(row=10, column=0, pady=(20,10), sticky="w")

# Entry box
ttk.Label(frame, text="Ticket Price").grid(row=11, column=0, sticky="w")
entry_ticket_price = ttk.Entry(frame)
entry_ticket_price.grid(row=11, column=1)

# -- WATCHED SECTION -- #
# subheader
ttk.Label(frame, text="Watched Information", foreground="maroon", font=("Arial", 12, "bold")).grid(row=12, column=0, pady=(20,10), sticky="w")

# Entry box
ttk.Label(frame, text="Number of Tickets per Movies Watched").grid(row=13, column=0, sticky="w")
entry_num_watched = ttk.Entry(frame)
entry_num_watched.grid(row=13, column=1)

In [10]:
# -- Add Record Function -- #
def add_record():
    # Get the text entered for entries of CINEMA table
    cinema_name = entry_cinema_name.get()
    cinema_address = entry_cinema_address.get()

    # Get the text entered for entries of THEATER table
    theater_number = entry_theater_number.get()
    seating_capacity = entry_seating_capacity.get()

    # Get the text entered for entries of MOVIE table
    movie_name = entry_movie_name.get()
    director_name = entry_director_name.get()
    release_year = entry_release_year.get()
    time_slot = entry_time_slot.get()
    movie_rating = entry_movie_rating.get()

    # Get the text entered for entries of PEOPLE table
    email = entry_email.get()
    bdate = entry_bdate.get()
    age_group = entry_age_group.get()
    awards_member = entry_awards_member.get()

    # Get the text entered for entries of TICKET table
    ticket_price = entry_ticket_price.get()
    
    # Get the text entered for entries of WATCHED table
    num_watched = entry_num_watched.get()

    try:
        # Insert new record into CINEMA table
        mycursor.execute(
            # prevents an error if entries already exist
            "INSERT IGNORE INTO CINEMA (cinema_name, address) VALUES (%s, %s)",
            (cinema_name, cinema_address)
        )
        # finalizes insertation of new record
        mydb.commit()
        # Get cinema_ID
        mycursor.execute("SELECT cinema_ID FROM CINEMA WHERE cinema_name=%s AND address=%s",
                         (cinema_name, cinema_address))
        cinema_id = mycursor.fetchone()[0] # cinema_ID auto increment

        # Insert new record into THEATER table
        mycursor.execute(
            # prevents an error if entries already exist
            "INSERT IGNORE INTO THEATER (theater_number, seating_capacity, cinema_ID) VALUES (%s, %s, %s)",
            (theater_number, seating_capacity, cinema_id)
        )

        # Insert new record into MOVIE table
        mycursor.execute(
            # prevents an error if entries already exist
            "INSERT IGNORE INTO MOVIE (director_name, movie_name, time_slot, release_year, movie_rating, theater_num) VALUES (%s, %s, %s, %s, %s, %s)",
            (director_name, movie_name, time_slot, release_year, movie_rating, theater_number)
        )

        # Insert new record into PEOPLE table
        mycursor.execute(
            # prevents an error if entries already exist
            "INSERT IGNORE INTO PEOPLE (bdate, age_group, awards_member, email) VALUES (%s, %s, %s, %s)",
            (bdate, age_group, awards_member, email)
        )

        # Insert new record into TICKET table
        mycursor.execute(
            # prevents an error if entries already exist
            "INSERT INTO TICKET (ticket_price, movie_name, time_slot, email) VALUES (%s, %s, %s, %s)",
            (ticket_price, movie_name, time_slot, email)
        )
        # finalizes insertation of new record
        mydb.commit()
        # Get ticket_price_index
        mycursor.execute("SELECT ticket_price_index FROM TICKET WHERE ticket_price=%s AND movie_name=%s AND time_slot=%s AND email=%s",
                         (ticket_price, movie_name, time_slot, email))
        ticket_price_index = mycursor.fetchone()[0] # ticket_price_index auto incremented


        # Insert new record into WATCHED table
        mycursor.execute(
            # prevents an error if entries already exist
            "INSERT IGNORE INTO WATCHED (mov_name, time_slot, email, num_watched) VALUES (%s, %s, %s, %s)",
            (movie_name, time_slot, email, num_watched)
        )

        # Finalize all remaining new record insertions
        mydb.commit()
        # dispay pop up message if all transactions were successful
        messagebox.showinfo("Success", "Record added successfully!")

        # Clears all input fields in the Add Record tab to prepare the GUI for the next entry.
        for entry in frame.winfo_children():
            if isinstance(entry, ttk.Entry):
                entry.delete(0, tk.END)

    # If an error occurs, display pop up message
    except mysql.connector.Error as err:
        messagebox.showerror("Error", f"An Error Occurred: {err}")
        mydb.rollback()

# Add Record Button
btn_add = ttk.Button(frame, text="Add Record", command=add_record)
btn_add.grid(row=14, column=0, columnspan=6, pady=25)

In [11]:
# ---------------------------
# TAB 2: UPDATE RECORD TAB
# ---------------------------
frame_update = ttk.Frame(tab_update, padding=10)
frame_update.pack(fill='both', expand=True)

ttk.Label(frame_update, text="Update Record", foreground="maroon", font=("Arial", 12, "bold")).grid(row=0, column=0, pady=(0,10), sticky="w")

# Combobox for selecting subsection
ttk.Label(frame_update, text="Select Subsection").grid(row=1, column=0, sticky="w")
subsection_combo = ttk.Combobox(frame_update, values=["Cinema", "Theater", "Movie", "People", "Ticket", "Watched"])
subsection_combo.grid(row=1, column=1)
subsection_combo.current(0)  # default selection

# Frame to hold dynamic entry fields
fields_frame = ttk.Frame(frame_update)
fields_frame.grid(row=2, column=0, columnspan=6, pady=10, sticky="w")

def show_fields(event):
    for widget in fields_frame.winfo_children():
        widget.destroy()  # clear previous fields

    choice = subsection_combo.get()

    # if user chooses to edit Cinema
    if choice == "Cinema":
        # Ask for the primary key: cinema_ID
        ttk.Label(fields_frame, text="Cinema ID (Primary Key)").grid(row=0, column=0, sticky="w")
        entry_cinema_id = ttk.Entry(fields_frame)
        entry_cinema_id.grid(row=0, column=1)

        # Fields for new values:
        # Cinema Name
        ttk.Label(fields_frame, text="New Cinema Name").grid(row=1, column=0, sticky="w")
        entry_update_cinema_name = ttk.Entry(fields_frame)
        entry_update_cinema_name.grid(row=1, column=1)
        # Cinema Adress
        ttk.Label(fields_frame, text="New Address").grid(row=1, column=2, sticky="w")
        entry_update_cinema_address = ttk.Entry(fields_frame)
        entry_update_cinema_address.grid(row=1, column=3)

        # retrieve information from table
        def update_cinema():
            cinema_id = entry_cinema_id.get()
            new_cinema_name = entry_update_cinema_name.get()
            new_cinema_address = entry_update_cinema_address.get()
            try:
                mycursor.execute(
                    "UPDATE CINEMA SET cinema_name=%s, address=%s WHERE cinema_ID=%s",
                    (new_cinema_name, new_cinema_address, cinema_id)
                )
                mydb.commit()
                messagebox.showinfo("Success", f"Cinema ID '{cinema_id}' updated successfully!")
            except mysql.connector.Error as err:
                messagebox.showerror("Error", f"An Error Occurred: {err}")
                mydb.rollback()

        ttk.Button(fields_frame, text="Update Cinema", command=update_cinema).grid(row=2, column=0, columnspan=4, pady=10)

    # if user chooses to edit Theater
    elif choice == "Theater":
        # Ask for primary key (theater_number)
        ttk.Label(fields_frame, text="Theater Number (Primary Key)").grid(row=0, column=0, sticky="w")
        entry_theater_pk_number = ttk.Entry(fields_frame)
        entry_theater_pk_number.grid(row=0, column=1)

        # Fields for new values:
        # Seating capacity
        ttk.Label(fields_frame, text="New Seating Capacity").grid(row=1, column=0, sticky="w")
        entry_new_seating_capacity = ttk.Entry(fields_frame)
        entry_new_seating_capacity.grid(row=1, column=1)
        # Cinema ID
        ttk.Label(fields_frame, text="New Cinema ID").grid(row=1, column=2, sticky="w")
        entry_new_cinema_id = ttk.Entry(fields_frame)
        entry_new_cinema_id.grid(row=1, column=3)

        # retrieve information from table
        def update_theater():
            theater_number = entry_theater_pk_number.get()
            new_capacity = entry_new_seating_capacity.get()
            new_cinema_id = entry_new_cinema_id.get()
            try:
                mycursor.execute(
                    "UPDATE THEATER SET seating_capacity=%s, cinema_ID=%s WHERE theater_number=%s",
                    (new_capacity, new_cinema_id, theater_number)
                )
                mydb.commit()
                messagebox.showinfo("Success", f"Theater '{theater_number}' updated successfully!")
            except mysql.connector.Error as err:
                messagebox.showerror("Error", f"An Error Occurred: {err}")
                mydb.rollback()

        ttk.Button(fields_frame, text="Update Theater", command=update_theater).grid(row=3, column=0, columnspan=6, pady=10)

    # if user chooses to edit Movie
    elif choice == "Movie":
        # Ask for primary key (movie_name + time_slot)
        ttk.Label(fields_frame, text="Movie Name (Primary Key)").grid(row=0, column=0, sticky="w")
        entry_movie_pk_name = ttk.Entry(fields_frame)
        entry_movie_pk_name.grid(row=0, column=1)

        ttk.Label(fields_frame, text="Time Slot (HH:MM:SS) (Primary Key)").grid(row=0, column=2, sticky="w")
        entry_movie_pk_time = ttk.Entry(fields_frame)
        entry_movie_pk_time.grid(row=0, column=3)

        # Fields for new values:
        # Director Name
        ttk.Label(fields_frame, text="New Director Name").grid(row=1, column=0, sticky="w")
        entry_new_director = ttk.Entry(fields_frame)
        entry_new_director.grid(row=1, column=1)
        # Release Year
        ttk.Label(fields_frame, text="New Release Year").grid(row=1, column=2, sticky="w")
        entry_new_year = ttk.Entry(fields_frame)
        entry_new_year.grid(row=1, column=3)
        # Movie Rating
        ttk.Label(fields_frame, text="New Movie Rating").grid(row=1, column=4, sticky="w")
        entry_new_rating = ttk.Entry(fields_frame)
        entry_new_rating.grid(row=1, column=5)
        # Theater Number
        ttk.Label(fields_frame, text="New Theater Number").grid(row=2, column=0, sticky="w")
        entry_new_theater = ttk.Entry(fields_frame)
        entry_new_theater.grid(row=2, column=1)

        # retrieve information from table
        def update_movie():
            movie_name_pk = entry_movie_pk_name.get()
            time_slot_pk = entry_movie_pk_time.get()
            new_director = entry_new_director.get()
            new_year = entry_new_year.get()
            new_rating = entry_new_rating.get()
            new_theater = entry_new_theater.get()
            try:
                mycursor.execute(
                    "UPDATE MOVIE SET director_name=%s, release_year=%s, movie_rating=%s, theater_num=%s WHERE movie_name=%s AND time_slot=%s",
                    (new_director, new_year, new_rating, new_theater, movie_name_pk, time_slot_pk)
                )
                mydb.commit()
                messagebox.showinfo("Success", f"Movie '{movie_name_pk}' at time slot '{time_slot_pk}' updated successfully!")
            except mysql.connector.Error as err:
                messagebox.showerror("Error", f"An Error Occurred: {err}")
                mydb.rollback()

        ttk.Button(fields_frame, text="Update Movie", command=update_movie).grid(row=3, column=0, columnspan=6, pady=10)

    # if user chooses to edit People
    elif choice == "People":
        # Ask for primary key (email)
        ttk.Label(fields_frame, text="Email (Primary Key)").grid(row=0, column=0, sticky="w")
        entry_email_pk = ttk.Entry(fields_frame)
        entry_email_pk.grid(row=0, column=1)

        # Fields for new values:
        # Birthdate
        ttk.Label(fields_frame, text="New Birthdate (YYYY-MM-DD)").grid(row=1, column=0, sticky="w")
        entry_new_birthdate = ttk.Entry(fields_frame)
        entry_new_birthdate.grid(row=1, column=1)
        # Age Group
        ttk.Label(fields_frame, text="New Age Group (adult/child)").grid(row=1, column=2, sticky="w")
        entry_new_age_group = ttk.Entry(fields_frame)
        entry_new_age_group.grid(row=1, column=3)
        # Awards Member
        ttk.Label(fields_frame, text="New Awards Member (Golden/Silver/None)").grid(row=1, column=4, sticky="w")
        entry_new_awards_member = ttk.Entry(fields_frame)
        entry_new_awards_member.grid(row=1, column=5)

        # retrieve information from table
        def update_people():
            email_pk = entry_email_pk.get()
            new_birthdate = entry_new_birthdate.get()
            new_age_group = entry_new_age_group.get()
            new_awards_member = entry_new_awards_member.get()
            try:
                mycursor.execute(
                    "UPDATE PEOPLE SET bdate=%s, age_group=%s, awards_member=%s WHERE email=%s",
                    (new_birthdate, new_age_group, new_awards_member, email_pk)
                )
                mydb.commit()
                messagebox.showinfo("Success", f"People '{email_pk}' updated successfully!")
            except mysql.connector.Error as err:
                messagebox.showerror("Error", f"An Error Occurred: {err}")
                mydb.rollback()

        ttk.Button(fields_frame, text="Update People", command=update_people).grid(row=3, column=0, columnspan=6, pady=10)    

    # if user chooses to edit Ticket
    elif choice == "Ticket":
        # Ask for primary key (ticket_price_index)
        ttk.Label(fields_frame, text="Ticket Price Index (Primary Key)").grid(row=0, column=0, sticky="w")
        entry_ticket_price_index_pk = ttk.Entry(fields_frame)
        entry_ticket_price_index_pk.grid(row=0, column=1)

        # Fields for new values:
        # Ticket Price
        ttk.Label(fields_frame, text="Ticket Price").grid(row=1, column=0, sticky="w")
        entry_new_ticket_price = ttk.Entry(fields_frame)
        entry_new_ticket_price.grid(row=1, column=1)
        # Movie Name 
        ttk.Label(fields_frame, text="New Movie Name").grid(row=1, column=2, sticky="w")
        entry_new_movie_name = ttk.Entry(fields_frame)
        entry_new_movie_name.grid(row=1, column=3)
        # Time Slot 
        ttk.Label(fields_frame, text="New Time Slot (HH:MM:SS)").grid(row=1, column=4, sticky="w")
        entry_new_time_slot = ttk.Entry(fields_frame)
        entry_new_time_slot.grid(row=1, column=5)
        # Email 
        ttk.Label(fields_frame, text="New Email").grid(row=2, column=0, sticky="w")
        entry_new_email = ttk.Entry(fields_frame)
        entry_new_email.grid(row=2, column=1)

        # retrieve information from table
        def update_ticket():
            ticket_price_index_pk =  entry_ticket_price_index_pk.get()
            new_ticket_price = entry_new_ticket_price.get()
            new_movie_name = entry_new_movie_name.get()
            new_time_slot = entry_new_time_slot.get()
            new_email = entry_new_email.get()
            try:
                mycursor.execute(
                    "UPDATE TICKET SET ticket_price=%s, movie_name=%s, time_slot=%s, email=%s WHERE ticket_price_index=%s",
                    (new_ticket_price, new_movie_name, new_time_slot, new_email, ticket_price_index_pk)
                )
                mydb.commit()
                messagebox.showinfo("Success", f"Ticket '{ticket_price_index_pk}' updated successfully!")
            except mysql.connector.Error as err:
                messagebox.showerror("Error", f"An Error Occurred: {err}")
                mydb.rollback()

        ttk.Button(fields_frame, text="Update Ticket", command=update_ticket).grid(row=3, column=0, columnspan=6, pady=10)    
    
    # if user chooses to edit Ticket
    elif choice == "Watched":
        # Ask for primary key (mov_name + time_slot + email)
        ttk.Label(fields_frame, text="Movie Name (Primary Key)").grid(row=0, column=0, sticky="w")
        entry_movie_name_pk = ttk.Entry(fields_frame)
        entry_movie_name_pk.grid(row=0, column=1)

        ttk.Label(fields_frame, text="Time Slot (HH:MM:SS) (Primary Key)").grid(row=0, column=2, sticky="w")
        entry_movie_time_pk = ttk.Entry(fields_frame)
        entry_movie_time_pk.grid(row=0, column=3)

        ttk.Label(fields_frame, text="Email (Primary Key)").grid(row=0, column=4, sticky="w")
        entry_pk_email = ttk.Entry(fields_frame)
        entry_pk_email.grid(row=0, column=5)        

        # Fields for new values:
        # Number of Movie Watched
        ttk.Label(fields_frame, text="Number of Movies Watched").grid(row=1, column=0, sticky="w")
        entry_new_num_watched = ttk.Entry(fields_frame)
        entry_new_num_watched.grid(row=1, column=1)

        # retrieve information from table
        def update_watched():
            pk_movie_name = entry_movie_name_pk.get()
            pk_time_slot = entry_movie_time_pk.get()
            pk_email = entry_pk_email.get()
            new_num_watched = entry_new_num_watched.get()
            try:
                mycursor.execute(
                    "UPDATE WATCHED SET num_watched=%s WHERE mov_name=%s AND time_slot=%s AND email=%s",
                    (new_num_watched, pk_movie_name, pk_time_slot, pk_email)
                )
                mydb.commit()
                messagebox.showinfo("Success", f"Watched '{pk_movie_name}' at time slot '{pk_time_slot}' by '{pk_email}' updated successfully!")
            except mysql.connector.Error as err:
                messagebox.showerror("Error", f"An Error Occurred: {err}")
                mydb.rollback()

        ttk.Button(fields_frame, text="Update Watched", command=update_watched).grid(row=3, column=0, columnspan=6, pady=10) 

subsection_combo.bind("<<ComboboxSelected>>", show_fields)
show_fields(None)  # initial call

In [12]:
# ---------------------------
# TAB 3: DELETE RECORD TAB
# ---------------------------
frame_delete = ttk.Frame(tab_delete, padding=10)
frame_delete.pack(fill='both', expand=True)

ttk.Label(frame_delete, text="Delete Record", foreground="maroon", font=("Arial", 12, "bold")).grid(row=0, column=0, pady=(0,10), sticky="w")

# Combobox for selecting table
ttk.Label(frame_delete, text="Select Table").grid(row=1, column=0, sticky="w")
delete_table_combo = ttk.Combobox(frame_delete, values=["Cinema", "Theater", "Movie", "People", "Ticket", "Watched"])
delete_table_combo.grid(row=1, column=1)
delete_table_combo.current(0)  # default selection

# Frame to hold dynamic entry fields
delete_fields_frame = ttk.Frame(frame_delete)
delete_fields_frame.grid(row=2, column=0, columnspan=6, pady=15, sticky="w")

def show_delete_fields(event):
    for widget in delete_fields_frame.winfo_children():
        widget.destroy()  # clear previous fields

    table_choice = delete_table_combo.get()

    # If user chooses to delete record from cinema table
    if table_choice == "Cinema":
        ttk.Label(delete_fields_frame, text="Cinema ID (Primary Key)").grid(row=0, column=0, sticky="w")
        entry_del_cinema_id = ttk.Entry(delete_fields_frame)
        entry_del_cinema_id.grid(row=0, column=1)

        def delete_cinema():
            cinema_id = entry_del_cinema_id.get()
            try:
                # Cascade delete: delete theaters and related movies first
                mycursor.execute("DELETE FROM THEATER WHERE cinema_ID=%s", (cinema_id,))
                mycursor.execute("DELETE FROM CINEMA WHERE cinema_ID=%s", (cinema_id,))
                mydb.commit()
                messagebox.showinfo("Success", f"Cinema ID '{cinema_id}' and associated theaters deleted successfully!")
            except mysql.connector.Error as err:
                messagebox.showerror("Error", f"An Error Occurred: {err}")
                mydb.rollback()

        ttk.Button(delete_fields_frame, text="Delete Cinema", command=delete_cinema).grid(row=1, column=0, columnspan=2, pady=10)

    # If user chooses to delete record from theater table
    elif table_choice == "Theater":
        ttk.Label(delete_fields_frame, text="Theater Number (Primary Key)").grid(row=0, column=0, sticky="w")
        entry_del_theater_num = ttk.Entry(delete_fields_frame)
        entry_del_theater_num.grid(row=0, column=1)

        def delete_theater():
            theater_num = entry_del_theater_num.get()
            try:
                # Cascade delete: delete movies first
                mycursor.execute("DELETE FROM MOVIE WHERE theater_num=%s", (theater_num,))
                mycursor.execute("DELETE FROM THEATER WHERE theater_number=%s", (theater_num,))
                mydb.commit()
                messagebox.showinfo("Success", f"Theater '{theater_num}' and associated movies deleted successfully!")
            except mysql.connector.Error as err:
                messagebox.showerror("Error", f"An Error Occurred: {err}")
                mydb.rollback()

        ttk.Button(delete_fields_frame, text="Delete Theater", command=delete_theater).grid(row=1, column=0, columnspan=2, pady=10)

    # If user chooses to delete record from movie table
    elif table_choice == "Movie":
        ttk.Label(delete_fields_frame, text="Movie Name (Primary Key)").grid(row=0, column=0, sticky="w")
        entry_del_movie_name = ttk.Entry(delete_fields_frame)
        entry_del_movie_name.grid(row=0, column=1)

        ttk.Label(delete_fields_frame, text="Time Slot (HH:MM:SS) (Primary Key)").grid(row=0, column=2, sticky="w")
        entry_del_movie_time = ttk.Entry(delete_fields_frame)
        entry_del_movie_time.grid(row=0, column=3)

        def delete_movie():
            movie_name = entry_del_movie_name.get()
            time_slot = entry_del_movie_time.get()
            try:
                # Cascade delete: tickets and watched first
                mycursor.execute("DELETE FROM TICKET WHERE movie_name=%s AND time_slot=%s", (movie_name, time_slot))
                mycursor.execute("DELETE FROM WATCHED WHERE mov_name=%s AND time_slot=%s", (movie_name, time_slot))
                mycursor.execute("DELETE FROM MOVIE WHERE movie_name=%s AND time_slot=%s", (movie_name, time_slot))
                mydb.commit()
                messagebox.showinfo("Success", f"Movie '{movie_name}' at '{time_slot}' deleted successfully!")
            except mysql.connector.Error as err:
                messagebox.showerror("Error", f"An Error Occurred: {err}")
                mydb.rollback()

        ttk.Button(delete_fields_frame, text="Delete Movie", command=delete_movie).grid(row=1, column=0, columnspan=4, pady=10)

    # If user chooses to delete record from people table
    elif table_choice == "People":
        ttk.Label(delete_fields_frame, text="Email (Primary Key)").grid(row=0, column=0, sticky="w")
        entry_del_email = ttk.Entry(delete_fields_frame)
        entry_del_email.grid(row=0, column=1)

        def delete_people():
            email = entry_del_email.get()
            try:
                # Cascade delete: tickets and watched first
                mycursor.execute("DELETE FROM TICKET WHERE email=%s", (email,))
                mycursor.execute("DELETE FROM WATCHED WHERE email=%s", (email,))
                mycursor.execute("DELETE FROM PEOPLE WHERE email=%s", (email,))
                mydb.commit()
                messagebox.showinfo("Success", f"People '{email}' and associated records deleted successfully!")
            except mysql.connector.Error as err:
                messagebox.showerror("Error", f"An Error Occurred: {err}")
                mydb.rollback()

        ttk.Button(delete_fields_frame, text="Delete People", command=delete_people).grid(row=1, column=0, columnspan=2, pady=10)

    # If user chooses to delete record from ticket table
    elif table_choice == "Ticket":
        ttk.Label(delete_fields_frame, text="Ticket Price Index (Primary Key)").grid(row=0, column=0, sticky="w")
        entry_del_ticket_index = ttk.Entry(delete_fields_frame)
        entry_del_ticket_index.grid(row=0, column=1)

        def delete_ticket():
            ticket_index = entry_del_ticket_index.get()
            try:
                mycursor.execute("DELETE FROM TICKET WHERE ticket_price_index=%s", (ticket_index,))
                mydb.commit()
                messagebox.showinfo("Success", f"Ticket '{ticket_index}' deleted successfully!")
            except mysql.connector.Error as err:
                messagebox.showerror("Error", f"An Error Occurred: {err}")
                mydb.rollback()

        ttk.Button(delete_fields_frame, text="Delete Ticket", command=delete_ticket).grid(row=1, column=0, columnspan=2, pady=10)

    # If user chooses to delete record from watched table
    elif table_choice == "Watched":
        ttk.Label(delete_fields_frame, text="Movie Name (Primary Key)").grid(row=0, column=0, sticky="w")
        entry_del_watched_movie = ttk.Entry(delete_fields_frame)
        entry_del_watched_movie.grid(row=0, column=1)

        ttk.Label(delete_fields_frame, text="Time Slot (HH:MM:SS) (Primary Key)").grid(row=0, column=2, sticky="w")
        entry_del_watched_time = ttk.Entry(delete_fields_frame)
        entry_del_watched_time.grid(row=0, column=3)

        ttk.Label(delete_fields_frame, text="Email (Primary Key)").grid(row=0, column=4, sticky="w")
        entry_del_watched_email = ttk.Entry(delete_fields_frame)
        entry_del_watched_email.grid(row=0, column=5)

        def delete_watched():
            movie_name = entry_del_watched_movie.get()
            time_slot = entry_del_watched_time.get()
            email = entry_del_watched_email.get()
            try:
                mycursor.execute("DELETE FROM WATCHED WHERE mov_name=%s AND time_slot=%s AND email=%s",
                                 (movie_name, time_slot, email))
                mydb.commit()
                messagebox.showinfo("Success", f"Watched record for '{movie_name}' by '{email}' deleted successfully!")
            except mysql.connector.Error as err:
                messagebox.showerror("Error", f"An Error Occurred: {err}")
                mydb.rollback()

        ttk.Button(delete_fields_frame, text="Delete Watched", command=delete_watched).grid(row=1, column=0, columnspan=6, pady=10)


delete_table_combo.bind("<<ComboboxSelected>>", show_delete_fields)
show_delete_fields(None)  # initial call

In [13]:
# ---------------------------
# TAB 4: QUERIES TAB
# ---------------------------
frame_queries = ttk.Frame(tab_queries, padding=10)
frame_queries.pack(fill='both', expand=True)

ttk.Label(frame_queries, text="Execute Stored Procedures", foreground="maroon", font=("Arial", 12, "bold")).grid(row=0, column=0, pady=(0,10), sticky="w")

# Combobox to select the query
ttk.Label(frame_queries, text="Select Query").grid(row=1, column=0, sticky="w")
query_combo = ttk.Combobox(frame_queries, width=45, values=[
    "1. Total Tickets Sold for a Movie",
    "2. Movie Made by Director",
    "3. Information About People Who Watched a Movie",
    "4. Number of Movies Scheduled per Theater",
    "5. Number of Tickets Sold per Movie and Showtime",
    "6. Total Revenue Generated by a Movie"
])
query_combo.grid(row=1, column=1)
query_combo.current(0)

# Frame for dynamic query input fields
query_fields_frame = ttk.Frame(frame_queries)
query_fields_frame.grid(row=2, column=0, columnspan=6, pady=15, sticky="w")

# Text widget for displaying results
text_results = tk.Text(frame_queries, height=15, width=120)
text_results.grid(row=6, column=0, columnspan=6, pady=10)

def show_query_fields(event):
    for widget in query_fields_frame.winfo_children():
        widget.destroy()  # clear previous fields

    choice = query_combo.get()

    # --------------------------
    # Query 1: Total Tickets Sold for a Movie
    # --------------------------
    if choice.startswith("1"):
        ttk.Label(query_fields_frame, text="Movie Name").grid(row=0, column=0, sticky="w")
        entry_movie_name_query = ttk.Entry(query_fields_frame)
        entry_movie_name_query.grid(row=0, column=1)

        def run_total_tickets_sold():
            movie_name = entry_movie_name_query.get()
            try:
                # Prepare output variable
                output_var = 0
                # Call stored procedure (input movie_name, output total_sold)
                result_args = mycursor.callproc("total_tickets_sold", [movie_name, output_var])
                total_sold = result_args[1]  # output argument
                text_results.delete('1.0', tk.END)
                text_results.insert(tk.END, f"Total tickets sold for '{movie_name}': {total_sold}")
            except mysql.connector.Error as err:
                messagebox.showerror("Error", f"An Error Occurred: {err}")

        ttk.Button(query_fields_frame, text="Run Query", command=run_total_tickets_sold).grid(row=1, column=0, columnspan=2, pady=10)

    # --------------------------
    # Query 2: Movie Made by Director
    # --------------------------
    elif choice.startswith("2"):
        ttk.Label(query_fields_frame, text="Director Name").grid(row=0, column=0, sticky="w")
        entry_director_query = ttk.Entry(query_fields_frame)
        entry_director_query.grid(row=0, column=1)

        def run_movies_by_director():
            director_name = entry_director_query.get()
            try:
                # Calling Stored Procedure with input
                mycursor.callproc("movies_by_director", [director_name])
                text_results.delete('1.0', tk.END)
                for result in mycursor.stored_results():
                    rows = result.fetchall()
                    if not rows:
                        text_results.insert(tk.END, "No movies found.\n")
                    else:
                        for row in rows:
                            # Apply the formatting function
                            formatted_row = format_db_row(row)
                            text_results.insert(tk.END, f"{formatted_row}\n")
            except mysql.connector.Error as err:
                messagebox.showerror("Error", f"An Error Occurred: {err}")

        ttk.Button(query_fields_frame, text="Run Query", command=run_movies_by_director).grid(row=1, column=0, columnspan=2, pady=10)

    # --------------------------
    # Query 3: Information About People Who Watched a Movie
    # --------------------------
    elif choice.startswith("3"):
        ttk.Label(query_fields_frame, text="Email").grid(row=0, column=0, sticky="w")
        entry_people_join = ttk.Entry(query_fields_frame)
        entry_people_join.grid(row=0, column=1)

        def run_people_watched_movie():
            email = entry_people_join.get()
            try:
                # Calling Stored Procedure with input
                mycursor.callproc("ticket_buyer_info", [email])
                text_results.delete('1.0', tk.END)
                for result in mycursor.stored_results():
                    rows = result.fetchall()
                    if not rows:
                        text_results.insert(tk.END, "No Person's Email found.\n")
                    else:
                        for row in rows:
                            # Apply the formatting function
                            formatted_row = format_db_row(row)
                            text_results.insert(tk.END, f"{formatted_row}\n")
            except mysql.connector.Error as err:
                messagebox.showerror("Error", f"An Error Occurred: {err}")
        ttk.Button(query_fields_frame, text="Run Query", command=run_people_watched_movie).grid(row=1, column=0, columnspan=2, pady=10)

    # --------------------------
    # Query 4: Number of Movies Scheduled per Theater
    # --------------------------
    elif choice.startswith("4"):
        ttk.Label(query_fields_frame, text="Theater Number").grid(row=0, column=0, sticky="w")
        entry_theater_query = ttk.Entry(query_fields_frame)
        entry_theater_query.grid(row=0, column=1)

        def run_movies_per_theater():
            theater_number = entry_theater_query.get()
            try:
                # Calling Stored Procedure with input
                mycursor.callproc("movies_per_theater", [theater_number])
                text_results.delete('1.0', tk.END)
                for result in mycursor.stored_results():
                    rows = result.fetchall()
                    if not rows:
                        text_results.insert(tk.END, "No Theater Number found.\n")
                    else:
                        for row in rows:
                            text_results.insert(tk.END, f"{row}\n")
            except mysql.connector.Error as err:
                messagebox.showerror("Error", f"An Error Occurred: {err}")
        ttk.Button(query_fields_frame, text="Run Query", command=run_movies_per_theater).grid(row=1, column=0, columnspan=2, pady=10)

    # --------------------------
    # Query 5: Number of Tickets Sold for Each Movie and Showtime
    # --------------------------
    elif choice.startswith("5"):
        ttk.Label(query_fields_frame, text="Movie Name").grid(row=0, column=0, sticky="w")
        ttk.Label(query_fields_frame, text="Time Slot (HH:MM:SS)").grid(row=1, column=0, sticky="w")
        entry_movie_name = ttk.Entry(query_fields_frame)
        entry_movie_name.grid(row=0, column=1)

        entry_time_slot = ttk.Entry(query_fields_frame)
        entry_time_slot.grid(row=1, column=1)

        def run_tickets_sold_per_movie():
            movie_name = entry_movie_name.get().strip()
            time_slot = entry_time_slot.get().strip()
            
            # Validation to esnure both inputs included
            if not movie_name:
                messagebox.showerror("Input Error", "Movie name is required.")
                return
            if not time_slot:
                messagebox.showerror("Input Error", "Time slot is required (HH:MM:SS).")
                return
                
            try:
                # Calling stored procedure with both inputs
                mycursor.callproc("movies_and_tickets_sold", [movie_name, time_slot])
                text_results.delete('1.0', tk.END)
    
                for result in mycursor.stored_results():
                    rows = result.fetchall()
                    if not rows:
                        text_results.insert(tk.END, "No ticket number found for that movie at that showtime.\n")
                    else:
                        for row in rows:
                            # Apply the formatting function
                            formatted_row = format_db_row(row)
                            text_results.insert(tk.END, f"{formatted_row}\n")
            except mysql.connector.Error as err:
                messagebox.showerror("Error", f"An Error Occurred: {err}")

        ttk.Button(query_fields_frame, text="Run Query", command=run_tickets_sold_per_movie).grid(row=2, column=0, columnspan=2, pady=10)

    # --------------------------
    # Query 6: Total Revenue Generated by a Movie
    # --------------------------
    elif choice.startswith("6"):
        ttk.Label(query_fields_frame, text="Movie Name").grid(row=0, column=0, sticky="w")
        entry_movie_name_revenue = ttk.Entry(query_fields_frame)
        entry_movie_name_revenue.grid(row=0, column=1)

        def run_toal_revenue_per_movie():
            movie_name = entry_movie_name_revenue.get()
            try:
                # Calling Stored Procedure with input
                mycursor.callproc("revenue_generated_per_movie", [movie_name])
                text_results.delete('1.0', tk.END)
                for result in mycursor.stored_results():
                    rows = result.fetchall()
                    if not rows:
                        text_results.insert(tk.END, "No Movie Name found.\n")
                    else:
                        for row in rows:
                            # Apply the formatting function
                            formatted_row = format_db_row(row)
                            text_results.insert(tk.END, f"{formatted_row}\n")
            except mysql.connector.Error as err:
                messagebox.showerror("Error", f"An Error Occurred: {err}")
        ttk.Button(query_fields_frame, text="Run Query", command=run_toal_revenue_per_movie).grid(row=1, column=0, columnspan=2, pady=10)

query_combo.bind("<<ComboboxSelected>>", show_query_fields)
show_query_fields(None)  # initial call

In [14]:
# ---------------------------
# Run GUI
# ---------------------------
root.mainloop()